#######################################
# Project environment variables
#######################################

# Should be same with downloaded and configured docker-shared-services
# Default: ss - ([S]hared [S]ervices)
# More info in repository docs: https://github.com/wayofdev/docker-shared-services
SHARED_SERVICES_NAMESPACE=${SHARED_SERVICES_NAMESPACE}

# Should be same with downloaded and configured docker-project-services
# Default: wod
# More info in repository docs: https://github.com/wayofdev/docker-project-services
PROJECT_SERVICES_NAMESPACE=${PROJECT_SERVICES_NAMESPACE}

# https://docs.docker.com/compose/reference/envvars/#compose_project_name
# With custom namespace provided, it will be used to prefix all services
# in Docker network for current project
COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}

#######################################
# Laravel default environment variables
#######################################

APP_NAME=${APP_NAME}
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://api.${COMPOSE_PROJECT_NAME}.docker

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=wod
DB_USERNAME=wod
DB_PASSWORD=password
DB_FORWARD_PORT=5444

CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@wayof.dev"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

#######################################
# Sentry
#######################################

SENTRY_LARAVEL_DSN=https://xxxxxxxx@yyyyyyyy.ingest.sentry.io/1234567890
SENTRY_TRACES_SAMPLE_RATE=1.0

#######################################
# Deployer
#######################################

# Create slack app and add incoming webhook urls
# https://api.slack.com/messaging/webhooks
DEPLOYER_STAGING_SLACK_WEBHOOK=https://hooks.slack.com/services/XXXXXXX/XXXXX/XXXXXX
DEPLOYER_STAGING_REMOTE_USER=staging-xxxxx
DEPLOYER_STAGING_HOST=staging.laravel-starter-tpl.wayof.dev
DEPLOYER_STAGING_BRANCH=develop

DEPLOYER_PROD_SLACK_WEBHOOK=https://hooks.slack.com/services/XXXXXXX/XXXXX/XXXXXX
DEPLOYER_PROD_REMOTE_USER=prod-xxxxx
DEPLOYER_PROD_HOST=prod.laravel-starter-tpl.wayof.dev
DEPLOYER_PROD_BRANCH=master

# https://wayofdev.sentry.io/settings/account/api/auth-tokens/
DEPLOYER_SENTRY_TOKEN=50b88fxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEPLOYER_SENTRY_ORG=wayofdev
DEPLOYER_SENTRY_PROJECT=laravel-starter-tpl
DEPLOYER_SENTRY_SERVER=https://wayofdev.sentry.io
