{
    "ignoreMsiWithNoMutations": true,
    "logs": {
        "text": ".build/infection/infection-log.txt",
        "stryker": {
            "report": "master"
        }
    },
    "minCoveredMsi": 50,
    "minMsi": 45,
    "phpUnit": {
        "configDir": "./"
    },
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10
}
